<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dearrrfish.keepassenger</string>
	<key>connections</key>
	<dict>
		<key>3D3D4251-9E5E-4EAB-B3E4-235C2B31D5D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60353EF8-8505-4CC5-98EA-801E850EF533</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3D7602C3-E893-42A3-9DAC-5729FB694B9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02528AD9-3E96-4C75-8A52-1CA8D0FEFDC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>405F7303-E996-4857-8B41-07A07FE22B3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA838E5C-6C7A-454F-8600-F11ABB9AD329</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>40BD1A10-DB43-4BEB-9303-C743716501D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA838E5C-6C7A-454F-8600-F11ABB9AD329</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5D265F07-2C57-470B-AE67-33BBB7FC1C2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>712F85CA-0101-49F5-BD4A-7750FAE2DFFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DD148F95-8E48-46A7-9426-7FDA9B04C058</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘ &gt; Copy `UserName` instead of `Password` to your clipboard.</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B6BF0E86-F990-4DF6-A178-B953501A31E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>712F85CA-0101-49F5-BD4A-7750FAE2DFFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9ABACD19-35C2-4AB3-87DC-145909E789EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C4FC94C0-40E1-4572-AC5A-40B1F53DECD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D20E8C28-76B6-40D0-A2B7-878DDB864171</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9267BC8E-3BDB-46BE-950F-49B59EB41275</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>962DA074-26BF-41E5-92C7-AF2B544581D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>962DA074-26BF-41E5-92C7-AF2B544581D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA838E5C-6C7A-454F-8600-F11ABB9AD329</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>98DF7054-A5F1-4ADA-A2C2-0B876E2249AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>405F7303-E996-4857-8B41-07A07FE22B3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B6BF0E86-F990-4DF6-A178-B953501A31E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>861F8A69-DEC4-4873-9D10-59B5B12C9354</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>57BCEB84-AE71-48AF-A2D6-B3AC3076516B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D945D4CB-8754-49ED-8BBE-7736B3DC344C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40BD1A10-DB43-4BEB-9303-C743716501D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DD148F95-8E48-46A7-9426-7FDA9B04C058</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4FC94C0-40E1-4572-AC5A-40B1F53DECD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D20E8C28-76B6-40D0-A2B7-878DDB864171</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6BCE73BB-B7D6-4EE5-9112-5FC69736AD95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EB71EA97-3596-4DB7-9235-EF34952B0D08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D3D4251-9E5E-4EAB-B3E4-235C2B31D5D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EEF3F5CD-C04A-48A3-8992-C1FA91008FE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA838E5C-6C7A-454F-8600-F11ABB9AD329</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FD1EDDF8-1AA3-40A7-8AE9-12523FE04E00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEF3F5CD-C04A-48A3-8992-C1FA91008FE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>dearrrfish</string>
	<key>description</key>
	<string>Quick lookups in KeePass database.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>KeePassenger</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Password is copied and clipboard will be clear in a short time. (Notice: Alfred has a clipboard history feature!)</string>
				<key>title</key>
				<string>KeePassenger</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9ABACD19-35C2-4AB3-87DC-145909E789EC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>// Retrieve password by uuid
include_once("bootstrap.php");
$password = new Get("{query}" , "/password");
echo $password-&gt;execute()-&gt;password;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>712F85CA-0101-49F5-BD4A-7750FAE2DFFF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C4FC94C0-40E1-4572-AC5A-40B1F53DECD8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>echo "{query}" | pbcopy</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>D20E8C28-76B6-40D0-A2B7-878DDB864171</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>ks</string>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>include_once("bootstrap.php");
$search = new Search("{query}");
echo $search-&gt;execute();</string>
				<key>subtext</key>
				<string>Quick lookup in your predefined KeePass database.</string>
				<key>title</key>
				<string>Search in KeePassenger</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5D265F07-2C57-470B-AE67-33BBB7FC1C2D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>// Retrieve username by uuid
include_once("bootstrap.php");
$password = new Get("{query}" , "/user");
echo $password-&gt;execute()-&gt;user;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DD148F95-8E48-46A7-9426-7FDA9B04C058</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Username is copied and clipboard will be clear in a short time. (Notice: Alfred has a clipboard history feature!)</string>
				<key>title</key>
				<string>KeePassenger</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6BCE73BB-B7D6-4EE5-9112-5FC69736AD95</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>-- Clear clipboard#1 after {query} seconds
-- Be aware that Alfred has a clipboard history feature.

delay {query}
tell application "Finder" to set the clipboard to ""</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>861F8A69-DEC4-4873-9D10-59B5B12C9354</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>// Get clear delay setting
require_once("bootstrap.php");
echo Config::instance()-&gt;get("clear_delay");</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B6BF0E86-F990-4DF6-A178-B953501A31E5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># clear clipboard#2 after {query} seconds
sleep {query} | echo "" | pbcopy</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>57BCEB84-AE71-48AF-A2D6-B3AC3076516B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>kset show</string>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>require_once("bootstrap.php");
echo Config::instance()-&gt;show();</string>
				<key>subtext</key>
				<string>Show KeePassenger settings.</string>
				<key>title</key>
				<string>Show Settings</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3D7602C3-E893-42A3-9DAC-5729FB694B9B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "{query}"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>02528AD9-3E96-4C75-8A52-1CA8D0FEFDC5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>kset titleonly</string>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>require_once("bootstrap.php");
echo Config::instance()-&gt;showToggle("title_only");</string>
				<key>subtext</key>
				<string>Set search only by titles</string>
				<key>title</key>
				<string>Title Only - Setttings</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D945D4CB-8754-49ED-8BBE-7736B3DC344C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>require_once("bootstrap.php");
echo Config::instance()-&gt;setOption("title_only","{query}");</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>40BD1A10-DB43-4BEB-9303-C743716501D1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>require("bootstrap.php");
echo Config::instance()-&gt;setOption("ksapi", "{query}");</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>405F7303-E996-4857-8B41-07A07FE22B3E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>kset url</string>
				<key>subtext</key>
				<string>Set KeePass Service API endpoint (e.g. http://localhost:8443/api/)</string>
				<key>text</key>
				<string>KSAPI Endpoint</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>98DF7054-A5F1-4ADA-A2C2-0B876E2249AD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>KeePassenger - Settings</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EA838E5C-6C7A-454F-8600-F11ABB9AD329</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>require("bootstrap.php");
echo Config::instance()-&gt;setOption("secret", "{query}");</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EEF3F5CD-C04A-48A3-8992-C1FA91008FE2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>kset secret</string>
				<key>subtext</key>
				<string>Set user secret used in KSAPI request</string>
				<key>text</key>
				<string>Secret</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FD1EDDF8-1AA3-40A7-8AE9-12523FE04E00</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>kset ccdelay</string>
				<key>subtext</key>
				<string>Set delay time of clearing clipboard after password copied (Max: 60)</string>
				<key>text</key>
				<string>Delay of Clipboard Clear</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9267BC8E-3BDB-46BE-950F-49B59EB41275</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>require("bootstrap.php");
echo Config::instance()-&gt;setOption("clear_delay", "{query}", 60);</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>962DA074-26BF-41E5-92C7-AF2B544581D6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ku</string>
				<key>subtext</key>
				<string>Reload and update database cache on KSAPI server</string>
				<key>text</key>
				<string>Update KeePassenger Cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EB71EA97-3596-4DB7-9235-EF34952B0D08</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Update database cache: {query}</string>
				<key>title</key>
				<string>KeePassenger - Cache Update</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>60353EF8-8505-4CC5-98EA-801E850EF533</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>include_once("bootstrap.php");
$cacheUpdate = new CacheUpdate();
echo $cacheUpdate-&gt;execute()-&gt;data;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D3D4251-9E5E-4EAB-B3E4-235C2B31D5D1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>02528AD9-3E96-4C75-8A52-1CA8D0FEFDC5</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>3D3D4251-9E5E-4EAB-B3E4-235C2B31D5D1</key>
		<dict>
			<key>ypos</key>
			<real>1230</real>
		</dict>
		<key>3D7602C3-E893-42A3-9DAC-5729FB694B9B</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>405F7303-E996-4857-8B41-07A07FE22B3E</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>40BD1A10-DB43-4BEB-9303-C743716501D1</key>
		<dict>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>57BCEB84-AE71-48AF-A2D6-B3AC3076516B</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>5D265F07-2C57-470B-AE67-33BBB7FC1C2D</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>60353EF8-8505-4CC5-98EA-801E850EF533</key>
		<dict>
			<key>ypos</key>
			<real>1230</real>
		</dict>
		<key>6BCE73BB-B7D6-4EE5-9112-5FC69736AD95</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>712F85CA-0101-49F5-BD4A-7750FAE2DFFF</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>861F8A69-DEC4-4873-9D10-59B5B12C9354</key>
		<dict>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>9267BC8E-3BDB-46BE-950F-49B59EB41275</key>
		<dict>
			<key>ypos</key>
			<real>1110</real>
		</dict>
		<key>962DA074-26BF-41E5-92C7-AF2B544581D6</key>
		<dict>
			<key>ypos</key>
			<real>1110</real>
		</dict>
		<key>98DF7054-A5F1-4ADA-A2C2-0B876E2249AD</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>9ABACD19-35C2-4AB3-87DC-145909E789EC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B6BF0E86-F990-4DF6-A178-B953501A31E5</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>C4FC94C0-40E1-4572-AC5A-40B1F53DECD8</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>D20E8C28-76B6-40D0-A2B7-878DDB864171</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>D945D4CB-8754-49ED-8BBE-7736B3DC344C</key>
		<dict>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>DD148F95-8E48-46A7-9426-7FDA9B04C058</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>EA838E5C-6C7A-454F-8600-F11ABB9AD329</key>
		<dict>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>EB71EA97-3596-4DB7-9235-EF34952B0D08</key>
		<dict>
			<key>ypos</key>
			<real>1230</real>
		</dict>
		<key>EEF3F5CD-C04A-48A3-8992-C1FA91008FE2</key>
		<dict>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>FD1EDDF8-1AA3-40A7-8AE9-12523FE04E00</key>
		<dict>
			<key>ypos</key>
			<real>1000</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/dearrrfish/KeePassenger</string>
</dict>
</plist>
